.dart_tool/
build/
.idea/
.vscode/
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
macos/Podfile.lock
macos/Pods/
macos/Runner.xcworkspace/
windows/flutter/ephemeral/
.flutter-plugins-dependencies
node_modules/
*.log
*.lock
.env